.exportRow {
  display: grid;
}

.exportRowCols4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.exportRowCols3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.exportRowCols2 {
  grid-template-columns: 1fr 1fr;
}

.exportRow > li {
  display: flex;
  align-items: center;
  justify-content: center;
}
