/* Desktop table */

.tableHeader {
  display: grid;
  grid-template: none / 50px 1fr 1fr 1fr 100px 60px;
  height: 40px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: rgb(255 255 255 / 0.5);
}

.tableHeadGridFull {
  grid-template: none / 50px 1fr 1fr 1fr 1fr 1fr 60px;
}

.tableHeadGridCol6 {
  grid-template: none / 50px 1fr 1fr 1fr 1fr 60px;
}

.tableHeadGridCol5 {
  grid-template: none / 50px 1fr 1fr 1fr 60px;
}

.tableHeadGridUnset {
  grid-template: unset;
}

.tableHeader li {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 2px 4px;
}

.addButton {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: rgb(255 255 255 / 0.5);
}

.rows {
}

.row {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  border-radius: 4px;
}

.row:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.row:not(:first-child) {
  margin-top: 8px;
}

.rowItems {
  background-color: rgb(255 255 255 / 0.5);
  padding: 4px 2px;
  display: grid;
  gap: 5px;
  border-radius: 4px;
}

.rowItemsGridFull {
  grid-template: none / 50px 1fr 1fr 1fr 1fr 1fr 60px;
}

.rowItemsGridCol6 {
  grid-template: none / 50px 1fr 1fr 1fr 1fr 60px;
}

.rowItemsGridCol5 {
  grid-template: none / 50px 1fr 1fr 1fr 60px;
}
.rowItemsGridColUnset {
  grid-template: unset;
}

.rowItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4px;
  overflow: hidden;
}

.rowItem[datafield="image"] {
  justify-content: center;
}

.rowItem span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowItem:not(:first-child)::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  top: 50%;
  left: 0;
  background-color: #e0e5eb;
  transform: translateX(-3px) translateY(-50%);
}

.rowItem:first-child {
  justify-content: center;
}

.rowItem:last-child {
  justify-content: space-around;
}

.edittingRow {
  border: solid 1px #0ea5e9;
}

.autoSizeTextArea {
  background-color: #dbeafe;
  width: 100%;
}

.autoSizeTextArea:focus-visible {
  outline: none;
  border-bottom: dashed 1px #0ea5e9;
}

/* Mobile table */

.mobileRow {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: rgb(255 255 255 / 0.5);
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  cursor: pointer;
}

.mobileRowEditting {
  border: solid 1px #0ea5e9;
}

.mobileRow:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.mobileRow p {
  width: 100%;
  word-break: break-all;
}

.mobileRow > :not(:last-child):not(:nth-last-child(2)) {
  /* Gray 300 */
  padding-bottom: 4px;
  border-bottom: dashed 1px #d1d5db;
}
