.checkMark {
  position: relative;
  border: solid 1px #c3c6cc;
}
.checkMark::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
}

.container:hover input ~ .checkMark {
  background-color: #d4d4d8;
}

.container input:checked ~ .checkMark::after {
  display: block;
}

.container input:checked ~ .checkMark {
  background-color: #60a5fa;
}
