.selected {
  border-color: #3b82f6;
  background-color: #bfdbfe;
}

.resultList {
  min-width: 340px;
}

.correct {
  border-color: #4ade80 !important;
  background-color: #94deaf;
}

.fail {
  border-color: #fb923c !important;
  background-color: #fccfab;
}
