@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");
@import "keen-slider/keen-slider.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
:root {
  --test-passed-color: #4ade80;
  --test-failed-color: #facc15;
  --test-not-yet-color: #d9d9d9;
  --tailwind-gray-300: #d1d5db;
  --tailwind-blue-600: #2563eb;
}

html {
  @apply text-slate-700;
  -webkit-tap-highlight-color: transparent;
  font-family: "Alef", sans-serif;
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background-color: #eff6ff;
}

.nav_bar {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  pointer-events: none;
  background-color: white;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-between items-center flex-col max-w-[1440px] mx-auto;
  min-height: calc(100vh - 64px);
}

.black_btn {
  @apply rounded-full h-10 border text-base border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center flex items-center justify-center;
}

.gray_btn {
  @apply rounded-lg h-10 border text-base border-gray-300 py-1.5 px-5 font-semibold text-gray-400 hover:bg-gray-100 hover:text-gray-400;
}

.create_btn {
  @apply flex items-center justify-center rounded-full h-10 w-10 bg-blue-50 hover:bg-blue-600 hover:transition-all hover:duration-300;
}

.amber_btn {
  @apply rounded-lg  bg-amber-400 py-1.5 px-5 font-semibold hover:bg-amber-300;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.navigate_btn {
  @apply rounded-full w-7 h-7;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply font-satoshi font-semibold  text-button-primary tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}

.menu_item,
.menu_item:after,
.menu_item:before {
  transition: all 0.5s;
  color: #9ca3af;
}

.menu_item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: ".";
  color: transparent;
  background: #93c5fd;
  height: 0%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.menu_item {
  position: relative;
}

.menu_item:hover {
  color: #334155;
}

.menu_item.active {
  color: #334155;
}

.menu_item.active:after {
  height: 6px;
}

.mobile_menu_item {
  position: relative;
  margin-left: 4px;
}

.mobile_menu_item:before {
  position: absolute;
  content: "";
  top: 0;
  left: -12px;
  width: 0;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #93c5fd;
}

.mobile_menu_item:hover {
  color: #334155;
}

.mobile_menu_item.active:before {
  width: 8px;
}

.mobile_menu_item.active {
  color: #334155;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Auth Component */

.auth_modal {
  @apply absolute bg-red-300 w-full h-full;
}

/* Custom css */

.text_secondary {
  /* gray-400 */
  color: #9ca3af;
}

.text_primary {
  color: #2563eb;
}

/* Carousel on mobile */

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 8px;
  height: 8px;
  background: #d1d5db;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #93c5fd;
}

.arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #d1d5db;
  cursor: pointer;
}

.arrow--left {
  left: -24px;
}

.arrow--right {
  left: auto;
  right: -24px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* Background transition to create animation */

.modal-enter {
  background-color: rgba(0, 0, 0, 0);
}

.modal-enter-active {
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-end {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-end-active {
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

/* Transform container to create animation */
/* For small device like iphone SE */
@media screen and (max-width: 400px) {
  .modalContent {
    width: 350px;
  }
}
.modal-enter .modalContent {
  opacity: 0;
  transform: scale(0.8);
}

.modal-enter-active .modalContent {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s;
}

.modal-exit .modalContent {
  opacity: 1;
}
.modal-exit-active .modalContent {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* Right Sidebar Background & Container Transition CSS */

.right-sidebar-enter .sidebarBackground {
  opacity: 0;
}
.right-sidebar-enter-active .sidebarBackground {
  opacity: 0.5;
  transition: opacity 200ms;
}
.right-sidebar-exit .sidebarBackground {
  opacity: 0.5;
}
.right-sidebar-exit-active .sidebarBackground {
  opacity: 0;
  transition: opacity 200ms;
}
/* Right Sidebar Container  */
.right-sidebar-enter .sidebarContainer {
  transform: translateX(-100%);
}
.right-sidebar-enter-active .sidebarContainer {
  transform: translateX(0);
}
.right-sidebar-enter-done .sidebarContainer {
  transform: translateX(0);
}

.right-sidebar-exit .sidebarContainer {
  transform: translateX(0);
}
.right-sidebar-exit-active .sidebarContainer {
  transform: translateX(-100%);
}
